# Virtual environments
tf-env/
venv/
.venv/
env/

# Notebooks
*.ipynb

# Raw datasets
quote_dataset.csv
train.txt
test.txt
val.txt

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Git files
.git/
.gitignore

# IDE files
.vscode/
.idea/

# Logs
*.log
